@media(max-width:1000px){
	.search-box button{
		position: absolute;
	}

	header ul{
		position: fixed;
		top: 100px;
		right: -100%;
		background: rgba(0,0,0,0.8);
		height: calc(100vh - 100px);
		width: 50%;
		flex-direction: column;
		align-items: center;
		transition: right: 0.5s linear;
	}

	header .menu{
		display: block;
		width: 100px;
		text-align: center;
	}

	#chk1:checked ~ ul{
		right: 0;
	}
}

@media screen and (min-width: 768px){
	.test1 .wrapper{
		flex-direction: row;
		padding: 30px 100px;
	}

	.test1 .thumbnail{
		width: 200px;
		height: 200px;
	}
}


@media(max-width:600px){
	header .logo{
		font-size: 10px;
		margin-left: 8px;
	}

	header	ul{
		width: 100%;
	}
}