/*Primary text-color: #CA8E46
Secondary text-color: #ABB2B9*/

*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: #010103;
}

section{
    padding:2rem 4%;
    margin-bottom: 100px;
}

.sticky{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(202, 142, 70, 0.2),
                inset 1px 1px 1px 1px rgba(202, 142, 70, 0.2);
    height: 90px;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
    max-width: 400px;
    margin: 100px auto;
    position: relative;
}

.heading::before{
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 30%;
    z-index: -2;
}

.heading::after{
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: #543a2a;
    position: absolute;
    right: 0;
    top: 30%;
    z-index: -2;
}

.heading span{
    background-color: #000;
    color:#543a2a;
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
	border: 1px solid #fff;
	padding: 10px;
    font-weight: bold;
	border-radius: 5px;
	background: #CA8E46;
	color: #fff;
    letter-spacing: 1px;
    box-shadow: 
    0.3em 0.3em 0 0 #fff,
    inset 0.3em 0.3em 0 0 #fff;
    transition: 1s;
}

.btn:hover{
    letter-spacing: .2rem;
    color: #CA8E46;
    box-shadow: 
               0 0 0 0 #fff,
               inset 6em 3.5em 0 0 #fff;
}

#content{
    max-width: 550px;
    height: 250px;
    padding: 25px;
    border-radius: 30px;
    
}

#content h3{
    font-size: 30px;
    color: #fff;
    word-spacing: 5px;
    line-height: 35px;
    text-transform: uppercase;
}

#content h3 span{
    font-size: 90px;
    font-weight: 100;
    color: #CA8E46;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: 'Mrs Saint Delafield', cursive;
}

#content p{
    width: 90%;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .8px;
    padding: 10px 0;
    color: #ABB2B9;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------------------------------Header section start--------------------------------------*/
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    
}

#chk1{
    display: none;
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color: #fff;
    margin-left: 80px;
    text-transform: uppercase;
    font-size: 18px;
}

header .logo span{
    color: #CA8E46;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Mrs Saint Delafield', cursive;;
}

header .search-box{
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #CA8E46;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header  ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover{
    border-bottom: 2px solid #CA8E46;
}

header ul .social-icon a i{
    background-color: #fff;
    color: #CA8E46;
    padding: 7px;
    border-radius: 30px;
    transition: 1s;
}

header ul .social-icon a i:hover{
    transform: rotate(360deg) scale(1.2);
    border-bottom: none !important;

}

header .menu{
    font-size: 3rem;
    display: none;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown .dropbtn { 
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: rgba(202, 142, 70, 0.5);
    color: #fff;
    min-width: 130px;
    min-height: 118px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #fff;
    color: #CA8E46;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*----------------------------------------------------Header section end--------------------------------------*/



/*----------------------------------------------------Home section start--------------------------------------*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*----------------------------------------------------Home section end--------------------------------------*/




/*----------------------------------------------------Our story section start--------------------------------------*/
.story-part-1{
    width: 100%;
    margin: auto;
    text-align: center;
}

.story-part-2 video{
    width: 100%;
}
/*----------------------------------------------------Our story section end--------------------------------------*/


/*--------------------------------------------------- Special Day Section Start ---------------------------------------*/
.special-day{
    min-height: 100vh;
    background: url(../images/coffe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
}

.special-day::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.special-day .special{
    position: relative;
    z-index: 2;
}

.special-day-part-1{
    text-align: center;
}
.special-day img{
    width: 500px;
}
/*--------------------------------------------------- Special Day section end --------------------------------*/


/*--------------------------------------------------- Location Section Start ---------------------------------*/
.location-section{
    text-align: center;
}

.location-section i{
    font-size: 20px;
    color: #CA8E46;
}

.location-section h4{
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}

.location-section p{
    margin-top: 5px;
    font-size: 13px;
    color: #ABB2B9;
    letter-spacing: 1px;
}

/*--------------------------------------------------- Location Section End -----------------------------------*/

/*----------------------------------------------------Menu section start--------------------------------------*/
.our-menu{
    min-height: 100vh;
    background: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
}

.our-menu::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 145vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.our-menu .menu{
    position: relative;
    z-index: 2;
}

.box{
    width: 90%;
    height: 90%;
    position: relative;
    overflow: hidden;
	text-decoration: none;
	color: #543a2a;
	padding: 5px;
	border-radius: 5px;
    border: 3px solid #CA8E46;
}

.box .imgs{
	width: 100%;
	height: 100%;
	object-fit: cover !important;
}

.box .content{
    width: 100%;
    height: 100%;
	text-align: center;
	background: #010103;
	color: #fff;
	padding: 30px;
    position: absolute;
    top:-115%; 
    left: 0;
}

.box .content h3{
    margin-top: 20px;
	color: #CA8E46;
    font-size: 20px;
}

.box .content p{
    font-size: 12px;
	color: #ABB2B9;
    padding: 8px;
}

.box .content .price{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.box:hover .content{
	top: 0;
}

.box:hover .imgs{
	transform: translateX(110%);
}
/*----------------------------------------------------Menu section end--------------------------------------*/


/*--------------------------------------------- Day with coffee section start -----------------------------*/

.day-coffee{
    text-align: center;
}

.day-coffee h2{
    color: #CA8E46;
    font-size: 30px;
    font-weight: 600;
    font-family: "Courgette", cursive;
}

.day-coffee p{
    width: 70%;
    margin: auto;
    color: #ABB2B9;
    font-size: 14px;
    padding: 20px;
}
/*--------------------------------------------- Day with coffee section ends ------------------------------*/



/*----------------------------------------------------New product section start--------------------------------------*/
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:1px solid #543a2a;
    padding: 2rem;
    box-shadow: .4rem .4rem 1rem #1C2833,
	           -.4rem -.4rem 1rem #1C2833;
}

.products .box-container .box:hover{
    background-color: #fff;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:1px solid #543a2a;
    color:#543a2a;
    border-radius: 50px;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background-color: #543a2a;
    color: #fff;
    transform: rotate(360deg);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color: #543a2a;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: #d3ad7f;
}

.products .box-container .box .content .price{
    color:#543a2a;
    font-size: 2.5rem;
}
/*----------------------------------------------------New product section end--------------------------------------*/




/*----------------------------------------------------Special offer section start--------------------------------------*/
.special-offer{
    min-height: 100vh;
    background: url(../images/menu7.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
}

.special-offer::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 145vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.special-offer .offer{
    position: relative;
    z-index: 2;
}

.special-offer .box{
	padding: 2rem;
	border-radius: .5rem;
    border: 1px solid #CA8E46;
	box-shadow: .4rem .4rem 1rem #1C2833,
	           -.4rem -.4rem 1rem #1C2833;
	position: relative;
	z-index: 0;
	overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}


.special-offer .box h3{
	text-align: center;
    color: #ABB2B9;
	font-size: 2rem;
    margin-bottom: 10px;
}

.special-offer .box h5{
	text-align: center;
    color: #CA8E46;
	font-size: 25px;
    margin-bottom: 5px;
}

.special-offer .box p{
	color: #777;
	font-size: 2rem;
	letter-spacing: 1px;
	text-align: center;
	line-height: 18px;
}

.special-offer .box span{
	text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: line-through;
}


.special-offer .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #CA8E46;
	z-index: -1;
	clip-path: circle(12rem at 0% 5%);
	transition: .3s linear;
}

.special-offer .box:hover::before{
	clip-path: circle(100%);
}

.special-offer .box:hover > *{
	color: #fff;
}
/*----------------------------------------------------Special offer section end--------------------------------------*/


/*---------------------------------------------------- UpComing section start --------------------------------------*/
.up-coming{
    text-align: center;
    padding: 10px;
}

.up-coming i{
    font-size: 30px;
}

.up-coming h2{
    color: #CA8E46;
    font-family: "Courgette", cursive;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
}

.up-coming h4{
    color: #fff;
    font-size: 25px;
}

.up-coming h4 span{
    font-size: 45px;
    font-family: 'Mrs Saint Delafield', cursive;;
    color: #CA8E46;
    padding: 5px;
    margin-top: 20px;
}

.up-coming p{
    width: 70%;
    margin: auto;
    color: #ABB2B9;
    font-size: 14px;
    margin-bottom: 20px;
}
/*---------------------------------------------------- UpComing section ends ---------------------------------------*/



/*----------------------------------------------------Review section start--------------------------------------*/
.site{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review{
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.test1{
    max-width: 900px;
    margin: 0 auto;
}

.test1 .head{
    text-align: center;
    margin-bottom: 60px;

}

.test1 .head h3{
    font-size: 34px;
    font-weight: 800;
}

.test1 .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
}

.test1 .thumbnail{
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

.test1 .thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.test1 .thumbnail::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: #CA8E46;
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: -1;
    box-shadow: 1px 2px 3px grey;
}

.test1 .aside{
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-grid;
}

.test1 .aside > p{
    position: relative;
    font-size: 14px;
    line-height:  normal;
    margin-bottom: 30px;
}

.test1 .aside > p::before,
.test1 .aside > p::before{
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 800;
    line-height:  1;
    position: absolute;
    color: red;
    height: 48px;
    z-index: -1;
}

.test1 .aside > p::before{
    content: open-quote;
    top: -48px;
    left: 10px;
}

.test1 .aside > p::after{
    content: close-quote;
    right: 0;
}

.test1 .aside .name{
    position: relative;
    width: fit-content;
    line-height: 1;
}

.test1 .aside .name h4{
    font-size: 22px;
    font-weight: 800;
    color: blue;
    opacity: .8;
}

.test1 .aside .name p{
    font-size: 12px;
    text-align: right;
}
/*----------------------------------------------------Review section end--------------------------------------*/




/*----------------------------------------------------Blog section start--------------------------------------*/
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border: 1px solid #543a2a;
    box-shadow: .4rem .4rem 1rem #1C2833,
    -.4rem -.4rem 1rem #1C2833;    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:#543a2a;
}

.blogs .box-container .box .content span{
    color:#543a2a;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.4rem;
    line-height: 1.4;
    color:#ccc;
    padding:1rem 0;
    margin-bottom: 20px;
}
/*----------------------------------------------------Blog section end--------------------------------------*/





/*----------------------------------------------------Contact section start--------------------------------------*/
#contact{
    margin-top: 10%;
    margin-bottom: 0 !important;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row img{
    flex:1 1 45rem;
    width: 50%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #543a2a;
}

.contact .row form .inputBox span{
    color:#543a2a;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
/*----------------------------------------------------Contact section end--------------------------------------*/





/*----------------------------------------------------Footer section start--------------------------------------*/
.footer{
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#543a2a;
    border:1px solid #543a2a;
    margin:.3rem;
    border-radius: 50%;
    transition: 1.5s;
}

.footer .share a:hover{
    background-color: #fff;
    transform: rotate(360deg);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#543a2a;
    border:1px solid #543a2a;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 1.8s;
}

.footer .links a:hover{
    background: #fff;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:#543a2a;
    font-weight: 400;
}
/*----------------------------------------------------Footer section end--------------------------------------*/












/*------------------------------------------------- media queries start -------------------------------------------------*/
@media screen and (max-width:1024px){

    html{
        font-size: 55%;
    }

    .home{
        margin-top: 30px;
        background-position: center;
        justify-content: center;
        text-align: center;
    }

    .header{
        padding:1.5rem 2rem;
    }

    dropdown-content {
        min-width: 100px;
        min-height: 98px;
        right: 20px;
        top: 100px;

    section{
        padding:2rem;
    }

    .navigation .menu{
        display: block;
        height: auto !important;
    }

}

@media screen and (max-width:767px){

    html{
        font-size: 50%;
    }

    .dropdown-content {
        min-width: 100px;
        min-height: 98px;
        right: 20px;
        top: 100px;
    }

    .home{
        margin-top: 30px;
        background-position: center;
        justify-content: center;
        text-align: center;
    }

    .home .content{
        width: 100%;
        height: 100vh;
        top: 100px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .home .content h3{
        font-size: 4rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .header .navigation .navbar .logo-toggle-container{
        position: static;
        transform: translateX(0%);
    }
    .header .navigation .navbar .logo-toggle-container a{
        width: 80%;
    }
    .header .navigation .navbar .logo-toggle-container .toggle-box{
        position: absolute;
        right: 10px;
        top: 50px;
        display: block;
        width: 45px;
        background-color: #fff !important;
        padding: 10px 9px;
        cursor: pointer;
        border-radius: 5px;
    }
    .header .navigation .navbar .logo-toggle-container .toggle-box span{
        display: block;
        max-width: 90%;
        margin: auto;
        height: 2px;
        background-color: #543a2a !important;
        margin-bottom: 4px;
    }

    .header .navigation .navbar .logo-toggle-container .toggle-box span:last-child{
        margin-bottom: 0;
    }

    .header .navigation .menu{
        background-color: rgba(84, 58, 42, 1);
        text-align: center;
        display: none;
    }

    .header .navigation .menu li{
        display: block;
        float: none !important;
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
        width: 150px;
        margin: auto;
    }

}

@media screen and (max-width:450px){

    html{
        font-size: 50%;
    }

    .dropdown-content {
        min-width: 100px;
        min-height: 98px;
        right: 100px;
        top: 100px;

    .home{
        margin-top: 30px;
        background-position: center;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 3.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}
/*---------------------------------------------------- media quary end--------------------------------------*/