/*Primary text-color: #CA8E46
Secondary text-color: #ABB2B9*/

*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: #010103;
}

section{
    padding:2rem 4%;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
}
.sticky{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(202, 142, 70, 0.2),
                inset 1px 1px 1px 1px rgba(202, 142, 70, 0.2);
    height: 90px;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
    max-width: 400px;
    margin: 100px auto;
    position: relative;
}

.heading::before{
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 30%;
    z-index: -2;
}

.heading::after{
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: #543a2a;
    position: absolute;
    right: 0;
    top: 30%;
    z-index: -2;
}

.heading span{
    background-color: #000;
    color:#543a2a;
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
	border: 1px solid #fff;
	padding: 10px;
    font-weight: bold;
	border-radius: 5px;
	background: #CA8E46;
	color: #fff;
    letter-spacing: 1px;
    box-shadow: 
    0.3em 0.3em 0 0 #fff,
    inset 0.3em 0.3em 0 0 #fff;
    transition: 0.7s;
}

.btn:hover{
    letter-spacing: .2rem;
    color: #CA8E46;
    box-shadow: 
               0 0 0 0 #fff,
               inset 6em 3.5em 0 0 #fff;
}

#content{
    max-width: 550px;
    height: 250px;
    padding: 25px;
    border-radius: 30px;
    
}

#content h3{
    font-size: 30px;
    color: #fff;
    word-spacing: 5px;
    line-height: 35px;
    text-transform: uppercase;
}

#content h3 span{
    font-size: 90px;
    font-weight: 100;
    color: #CA8E46;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: 'Mrs Saint Delafield', cursive;
}

#content p{
    width: 90%;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .8px;
    padding: 10px 0;
    color: #ABB2B9;
    margin-top: 20px;
    margin-bottom: 20px;
}

#heading{
    text-align: center;
    margin-bottom: 50px;
}

#heading h3{
    font-size: 30px;
    color: #fff;
    word-spacing: 5px;
    line-height: 55px;
    text-transform: uppercase;
}

#heading h3 span{
    font-size: 90px;
    font-weight: 100;
    color: #CA8E46;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: 'Mrs Saint Delafield', cursive;
}

#heading p{
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .8px;
    padding: 10px 0;
    color: #ABB2B9;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------- Breadcrumb-area -------*/
.bg-img{
    background-image: url(../images/breadcrumb-bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
}
.overlay{
    position: relative;
    z-index: 1;
}
.overlay:before {
    background: rgba(0, 0, 0, 0.40) none repeat scroll 0 0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb-text{
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.breadcrumb-text h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    line-height: 50px; 
}

/*---=================================== About Us Page Start ================================--*/
.about-details{
    padding: 5%;
    color: #fff;
}
.about-details img{
    margin-bottom: 20px;
}
.about-details h3{
    font-size: 18px;
    font-weight: 700;
    color: #CA8E46;
    letter-spacing: 1px;
}
.about-details span{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.about-details p{
     font-size: 14px;
     letter-spacing: 1px;
     line-height: 25px;
     margin-top: 20px;
     color: #aaaaaa;
}

.our-services{
    margin: 0 5%;
}
.image-wrapper {
    position: relative;
}
.image-wrapper .single-image1{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.image-wrapper:after {
    background: #614a3d none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.text-tablecell {
    height: auto;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.text-tablecell>h3 {
    color: #ffffff;
    font-family: "Courgette", cursive;
    font-size: 20px;
    line-height: 36px;
}
.text-tablecell>img {
    margin-bottom: 20px;
}
.image-hover-text {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
.image-wrapper:hover:after {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}

/*---- Counter Up Section Start ----*/
.counter-up {
    background: url(../images/about/counter-bg.jpg) no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.counter-up::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.counter-up .counter-content {
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.counter-content .counter-box {
    width: calc(25% - 30px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
}

.counter-content .counter-box .icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 35px;
    color: #056c5f;
}

.counter-content .counter-box .counter {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
}

.counter-content .counter-box .text {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.choose-us video{
    width: 100%;
    object-fit: cover;
}

.our-team-details{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.our-team-details h3{
    font-size: 22px;
    font-weight: 700;
    color: #CA8E46;
    letter-spacing: 1px;
    padding: 5px;
}

.our-team{
    background: url(../images/about/our-team-bg.jpg) no-repeat;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.our-team::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.our-team .our-team-card{
    position: relative;
    z-index: 2;
}
.our-team-card{
    border: 2px solid #aaaaaa;
    padding: 10px;
}
.our-team-card .our-team-card-img img{
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #aaaaaa;
    border-top: 2px solid #aaaaaa;
    border-radius: 50%;
}
.our-team-card .our-team-card-content{
    color: #fff;
    text-align: center;
    padding: 10px;
}
.our-team-card .our-team-card-content .team-member-name p{
    font-size: 20px;
    font-weight: 700;
    color: #CA8E46;
    letter-spacing: 1px;
}
.our-team-card .our-team-card-content .team-member-designation p{
    font-size: 14px;
    color: #aaaaaa;
}
.our-team-card .our-team-card-content .team-member-social-links a i{
    font-size: 20px;
    color: #CA8E46;
    padding: 8px;
}
/*--==================================== Blog Single Page start ===============================--*/
.blog-single{
    text-align: justify;
    padding: 0 10%;
    color: #fff;
}
.blog-details{
    margin-bottom: 100px;
}
.blog-details h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.blog-details span{
    font-size: 18px;
    color: #CA8E46;
}
.blog-details i{
    display: block;
}
.blog-details p{
    font-size: 14px;
    line-height: 25px;
    color: #aaaaaa;
    margin-top: 15px;
}

.blog-comment{
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    color: #fff;
}
.blog-comment form h3{
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10px;
}
.blog-comment form label, input, textarea{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.blog-comment form label{
    font-size: 16px;
    margin-bottom: 5px;
}
.blog-comment form input{
    background-color: transparent;
    padding: 15px;
    border: 1px solid #646464;
    margin-bottom: 30px;
    color: #fff;
}
.blog-comment form textarea{
    background-color: transparent;
    padding: 15px;
    border: 1px solid #646464;
    margin-bottom: 30px;
}
.blog-comment form .submit{
    display: block;
    width: 50%;
    margin: 0 auto;
}

/*----------------------------------------------------Header section start--------------------------------------*/
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    
}

#chk1{
    display: none;
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color: #fff;
    margin-left: 80px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

header .logo span{
    color: #CA8E46;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Mrs Saint Delafield', cursive;;
}

header .search-box{
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #CA8E46;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header  ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover{
    color: #CA8E46;
    border-bottom: 2px solid #CA8E46;
}

header ul .social-icon a i{
    background-color: #fff;
    color: #CA8E46;
    padding: 7px;
    border-radius: 30px;
    transition: 1s;
}

header ul .social-icon i:hover{
    transform: rotate(360deg) scale(1.2);
    text-decoration: none;
    border-bottom: none !important;

}

header .menu{
    font-size: 3rem;
    display: none;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown .dropbtn { 
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(202, 142, 70, 0.5);
    color: #fff;
    min-width: 130px;
    min-height: 118px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #fff;
    color: #CA8E46;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*----------------------------------------------------Header section end--------------------------------------*/



/*----------------------------------------------------Home section start--------------------------------------*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*----------------------------------------------------Home section end--------------------------------------*/




/*----------------------------------------------------Our story section start--------------------------------------*/
.story-part-1{
    width: 100%;
    margin: auto;
    text-align: center;
}

.story-part-2 video{
    width: 100%;
}
/*----------------------------------------------------Our story section end--------------------------------------*/


/*--------------------------------------------------- Special Day Section Start ---------------------------------------*/
.special-day{
    min-height: 100vh;
    background: url(../images/coffe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
}

.special-day::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.special-day .special{
    position: relative;
    z-index: 2;
}

.special-day-part-1{
    text-align: center;
}
.special-day img{
    width: 500px;
}
/*--------------------------------------------------- Special Day section end --------------------------------*/


/*--------------------------------------------------- Location Section Start ---------------------------------*/
.location-section{
    text-align: center;
}

.location-section i{
    font-size: 20px;
    color: #CA8E46;
}

.location-section h4{
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
}

.location-section p{
    margin-top: 5px;
    font-size: 13px;
    color: #ABB2B9;
    letter-spacing: 1px;
}

/*--------------------------------------------------- Location Section End -----------------------------------*/

/*----------------------------------------------------Menu section start--------------------------------------*/
.our-menu{
    min-height: 100vh;
    background: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
}

.our-menu::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 145vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.our-menu .menu{
    position: relative;
    z-index: 2;
}

.box{
    width: 90%;
    height: 90%;
    position: relative;
    overflow: hidden;
	text-decoration: none;
	color: #543a2a;
	padding: 5px;
	border-radius: 5px;
    border: 3px solid #CA8E46;
}

.box .imgs{
	width: 100%;
	height: 100%;
	object-fit: cover !important;
}

.box .content{
    width: 100%;
    height: 100%;
	text-align: center;
	background: #010103;
    background-size: cover;
	color: #fff;
	padding: 30px;
    position: absolute;
    top:-115%; 
    left: 0;
}

.box .content h3{
	color: #CA8E46;
    font-size: 20px;
}

.box .content p{
    font-size: 12px;
	color: #ABB2B9;
    
}

.box .content .price{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.box:hover .content{
	top: 0;
}

.box:hover .imgs{
	transform: translateX(110%);
}
/*----------------------------------------------------Menu section end--------------------------------------*/


/*--------------------------------------------- Day with coffee section start -----------------------------*/

.day-coffee{
    text-align: center;
}

.day-coffee h2{
    color: #CA8E46;
    font-size: 30px;
    font-weight: 600;
    font-family: "Courgette", cursive;
}

.day-coffee p{
    width: 70%;
    margin: auto;
    color: #ABB2B9;
    font-size: 14px;
    padding: 20px;
}
/*--------------------------------------------- Day with coffee section ends ------------------------------*/




/*----------------------------------------------------Special offer section start--------------------------------------*/
.special-offer{
    min-height: 100vh;
    background: url(../images/special-offer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
}

.special-offer::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 145vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.special-offer .offer{
    position: relative;
    z-index: 2;
}

.special-offer .box{
	padding: 2rem;
	border-radius: .5rem;
    border: 1px solid #CA8E46;
	box-shadow: .4rem .4rem 1rem #1C2833,
	           -.4rem -.4rem 1rem #1C2833;
	position: relative;
	z-index: 0;
	overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}


.special-offer .box h3{
	text-align: center;
    color: #ABB2B9;
	font-size: 2rem;
    margin-bottom: 10px;
}

.special-offer .box h5{
	text-align: center;
    color: #CA8E46;
	font-size: 25px;
    margin-bottom: 5px;
}

.special-offer .box p{
	color: #777;
	font-size: 2rem;
	letter-spacing: 1px;
	text-align: center;
	line-height: 18px;
}

.special-offer .box span{
	text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: line-through;
}


.special-offer .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #CA8E46;
	z-index: -1;
	clip-path: circle(12rem at 0% 5%);
	transition: .3s linear;
}

.special-offer .box:hover::before{
	clip-path: circle(100%);
}

.special-offer .box:hover > *{
	color: #fff;
}
/*----------------------------------------------------Special offer section end--------------------------------------*/


/*---------------------------------------------------- UpComing section start --------------------------------------*/
.up-coming{
    text-align: center;
    padding: 10px;
}

.up-coming i{
    font-size: 30px;
}

.up-coming h2{
    color: #CA8E46;
    font-family: "Courgette", cursive;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
}

.up-coming h4{
    color: #fff;
    font-size: 25px;
}

.up-coming h4 span{
    font-size: 45px;
    font-family: 'Mrs Saint Delafield', cursive;;
    color: #CA8E46;
    padding: 5px;
    margin-top: 20px;
}

.up-coming p{
    width: 70%;
    margin: auto;
    color: #ABB2B9;
    font-size: 14px;
    margin-bottom: 20px;
}
/*---------------------------------------------------- UpComing section ends ---------------------------------------*/



/*----------------------------------------------------Team Member section start--------------------------------------*/

.team-member{
    width: 100%;
    min-height: 100vh;
    background: url(../images/review-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
}

.team-member::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 160vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.team-member #content{
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    
}

.slider-container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.slider-images{
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 200px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 285px;
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 390px;
}

.slider-images .details{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.slider-images .details h2{
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    color: #CA8E46;
    display: none;
}

.slider-images .details h4{
    font-size: 14px;
    display: none;
    text-align: left;
    color: #fff;
}

.slider-images .details i{
    margin-top: 20px;
    color: #ABB2B9;
    padding: 5px;
    font-size: 20px;
    display: none;
    transition: 0.7s ease;
}

.slider-images .details i:hover{
    transform: scale(1.3) rotate(360deg);
    color: #CA8E46;
}

.slider-img.active{
    width: 390px !important;
    height: 400px !important;
}
.slider-img.active .details i{
    display: inline-block;
}

.slider-img.active .details h2, .slider-img.active .details h4{
    display: block;
}

/*----------------------------------------------------Team Member section end--------------------------------------*/


/*---------------------------------------------------- Review section start ---------------------------------------*/
.testimonial{
    border: 1px solid grey;
    text-align: center;
    margin-top: 30px;
    transition: 0.7s ease;
}

.testimonial:hover{
    box-shadow: 1px 2px 3px 4px #777;
}

.testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.testimonial img:hover{
    opacity: 1;
}

.testimonial .details{
    padding: 10px;
}

.testimonial .details h2{
    margin-top: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.testimonial .details i{
    font-size: 15px;
    color: #CA8E46;
    padding: 3px;
}

.testimonial .details p{
    color: #ABB2B9;
    line-height: 18px;
    font-size: 13px;
    margin-top: 10px;
}
/*---------------------------------------------------- Review section end -----------------------------------------*/


/*---------------------------------------------------- Others section start ---------------------------------------*/
.others .col-lg-6{
    position: relative;
}

.others img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.others img:hover{
    transform: scale(1.1);
}

.others .others-details{
    width: 90%;
    height: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.others .others-details .details{
    position: absolute;
    top: 25%;
    left: 25%;
}

.others .others-details .details p{
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.others .others-details .details h1{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #CA8E46;
}

.others .others-details .details .btn{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.others .details h1 span{
    color: #fff;
}

.others-sec{
    width: 100%;
}

/*---------------------------------------------------- Others section ends ----------------------------------------*/

/*--========================================== Blog Page Start ===============================================--*/

* card-image-1 */

  .card-img {
      position: relative;
      overflow: hidden;
  }

  .card-img img {
      position: relative    ;
    
  }

  .card-img:hover img {
      transform: scale(1.05);

  }

  .card-img .d-text {
   width:350px;
   height: 350px;
   background: rgba(30, 30, 30, 0);
   border: solid 1px rgba(255, 255, 255, .25);
   color: #aaaaaa;
   position: absolute;
   z-index: 1;
  }

  .card-img .d-text h3 {
      font-size: 18px;
      color: #ffffff;
  }

  .card-img:hover .d-text {
      background: rgba(30, 30, 30, .2);
  }

  .card-img .d-tag {
      font-size: 10px;
      letter-spacing: 7px;
      color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 5%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
  }

  /* mod-a */
  .card-img.mod-a .d-text {
      background: rgba(30, 30, 30, 0);
  }

  .card-img.mod-a .d-text {
      text-align: center;
      background: rgba(30, 30, 30, 0);
  }

  .card-img.mod-a h3 {
      opacity: 0;
      margin-top: -5%;
  }

  .card-img.mod-a h5 {
      opacity: 0;
      bottom: -5%;
  }

  .card-img.mod-a:hover .d-text {
      background: rgba(30, 30, 30, .5);
  }

  .card-img.mod-a:hover h3 {
      opacity: 1;
      margin-top: 0;
  }

  .card-img.mod-a:hover h5 {
      opacity: 1;
      bottom: 5%;
  }

  /* card image 1 mod-b */

  .card-img.mod-b img{
      transform: scale(1.1);
      opacity: 0;
  }

  .card-img.mod-b .d-text {
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0 15px;
      background: rgba(30, 30, 30, 0);
      border: solid 1px rgba(255, 255, 255, .25);
      color: #aaaaaa;
  }

  .card-img.mod-b .d-text .d-inner{
    padding: 0;
    text-align: left;
    margin-bottom: 30px;
  }

  .card-img.mod-b h3 {
      font-size: 24px;
      text-transform: none;
      letter-spacing: 0px;
  }

  .card-img.mod-b .atr-date{
    font-family: var(--title-font);
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .card-img.mod-b .d-text p{
    display: block;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    height: 90px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .card-img.mod-b:hover img{
      opacity: 1;
      transform: scale(1);
  }

  .card-img.mod-b:hover .d-text {
      background: rgba(0, 0, 0, .5);
      border: solid 1px rgba(255, 255, 255, 0);
  }

  .card-img.mod-b:hover .d-text p{
      height: 0;
      opacity: 0;
  }

  .card-img.mod-b:hover h3 {
      opacity: 1;
  }

  .card-img.mod-b:hover h5 {
      opacity: 1;
      bottom: 5%;
  }

/*--===========================================Contact Page start================================================--*/



#contact{
    margin-top: 10%;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row img{
    flex:1 1 45rem;
    width: 45%;
    object-fit: cover;
    border-radius: 30px;
}

.contact .row form{
    flex:1 1 45rem;
    padding:1rem 1rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #CA8E46;
    font-family: "Courgette", cursive;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #CA8E46;
}

.contact .row form .inputBox span{
    color: #CA8E46;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
/*----------------------------------------------------Contact section end--------------------------------------*/

/*--============================================== FAQs Page Start ===========================================--*/
.according{
    margin: 0 auto;
    width: 768px;
}
.according-item{
    border-bottom: 1px solid #fff;
}
.according-item button{
    position: relative;
    text-align: left;
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: #CA8E46;
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
}
.according-item button:hover{
    cursor: pointer;
}
.according-content p{
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 20px;
    color: #ABB2B9;
    letter-spacing: 1.5px;
    line-height: 20px;
}
.according-button{
    display: flex !important;
    justify-content: space-between !important;
}
.rotate{
    transition: .5s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/*--================================= Reservation Page start =============================================--*/

.reservation .row form{
    margin: 0 auto;
    width: 768px;
    padding:1rem 1rem;
    text-align: center;
}

.reservation .row form .inputBox{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #CA8E46;
    background: transparent;
}

.reservation .row form .inputBox span{
    color: #CA8E46;
    font-size: 2rem;
    padding-left: 2rem;
}

.reservation .row form .inputBox input{
    width: 100%;
    padding: 15px;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:transparent;
    position: relative;
}
.reservation .row form .inputBox input:focus~ {
   background: transparent;
}
/*----------------------------------------------------Footer section start--------------------------------------*/
.footer{
    text-align: center;
    margin-bottom: 0 ;
    background: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-sec{
    background: rgba(0, 0, 0, 0.5);
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #CA8E46;
    border:1px solid #CA8E46;
    text-decoration: none;
    margin:.3rem;
    border-radius: 50%;
    transition: 1.5s;
}

.footer .share a:hover{
    background-color: #CA8E46;
    color: #fff;
    transform: rotate(360deg);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    text-decoration: none;
    color: #CA8E46;
    border:1px solid #CA8E46;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.7s ease;
}

.footer .links a:hover{
    background-color: #CA8E46;
    color: #fff;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color: #CA8E46;
    font-weight: 400;
}
/*----------------------------------------------------Footer section end--------------------------------------*/


/*--======================================= Gallery Page Start ===========================================-*/
.album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0 0 0 0;
    justify-content: space-between;
  }
  
  .album .img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .album #i9rb {
    color: black;
  }
  
  .album #ir6i {
    color: black;
  }
  
  .album #ikz3b {
    color: black;
  }
  
  .album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0 0 0 0;
    height: 100%;
  }
  
  .album .responsive-container-block.img-cont .hover-img{
    overflow: hidden;
    transition: 0.4s ease;
  }
  .album .responsive-container-block.img-cont .hover-img:hover img{
    transform: scale(1.2);
  }
  .album #ipix {
    color: black;
  }
  
  .album #ipzoh {
    color: black;
  }
  
  .album #ig5q8 {
    color: black;
  }
  
  .album #imtzl {
    color: black;
  }
  
  .album #i53es {
    color: black;
  }
  
  .album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
  }
  
  @media (max-width: 1024px) {
    .album .img {
      margin: 0 0 18px 0;
    }
  }
  
  @media (max-width: 768px) {
    .album .img {
      max-width: 32.5%;
      margin: 0 0 0 0;
    }
  
    .album .responsive-container-block.bg {
      flex-direction: column;
    }
  
    .album .responsive-container-block.img-cont {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .album .img.img-big {
      max-width: 49%;
      margin: 0 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .album .img {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .responsive-container-block.img-cont {
      flex-direction: column;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }
  
    .album .img.img-big {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .img.img-last {
      margin: 0 0 5px 0;
    }
  }








